{% extends 'base.html.twig' %}

{% block header_title %}
	<h1 class="text-center">Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

	<div class="row text-center">
		{% if app.user %}
			<div class="col-md-3 col-12">
				<a href="{{ path('task_create') }}" class="btn btn-success mb-2">Créer une nouvelle tâche</a>
			</div>
			<div class="col-md-3">
				<a href="{{ path('task_list_to_do') }}" class="btn btn-outline-info mb-2">Consulter la liste des tâches à faire</a>
			</div>
			<div class="col-md-3">
				<a href="{{ path('task_list_done') }}" class="btn btn-outline-secondary mb-2">Consulter la liste des tâches terminées</a>
			</div>
			<div class="col-md-3">
				<a href="{{ path('task_list') }}" class="btn btn-outline-secondary">Consulter toutes les tâches</a>
			</div>
		</p>
	{% endif %}
</div>{% endblock %}
